<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
	  <!--<add key="TwilioAccountSid" value="AC7969b7b3f25ed3a15a864746ba9d2b18" />
	  <add key="TwilioAuthToken" value="b29d5ea74c5949a3e94bfa447833fdb5" />
	  <add key="TwilioWhatsAppNumber" value="YOUR_TWILIO_WHATSAPP_NUMBER" />-->
    <add name="major_projectConnectionString" connectionString="Data Source=DESKTOP-PA4N9Q9\SQL2014;Initial Catalog=major_project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="major_projectConnectionString2" connectionString="Data Source=DESKTOP-PA4N9Q9\SQL2014;Initial Catalog=major_project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="major_projectConnectionString3" connectionString="Data Source=DESKTOP-PA4N9Q9\SQL2014;Initial Catalog=major_project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="major_projectConnectionString4" connectionString="Data Source=DESKTOP-PA4N9Q9\SQL2014;Initial Catalog=major_project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="major_projectConnectionString5" connectionString="Data Source=DESKTOP-PA4N9Q9\SQL2014;Initial Catalog=major_project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="major_projectConnectionString6" connectionString="Data Source=DESKTOP-PA4N9Q9\SQL2014;Initial Catalog=major_project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="major_projectConnectionString7" connectionString="Data Source=DESKTOP-PA4N9Q9\SQL2014;Initial Catalog=major_project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="major_projectConnectionString8" connectionString="Data Source=DESKTOP-PA4N9Q9\SQL2014;Initial Catalog=major_project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="mini_projectConnectionString" connectionString="Data Source=DESKTOP-PA4N9Q9\SQL2014;Initial Catalog=mini_project;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="major_projectConnectionString9" connectionString="Data Source=DESKTOP-PA4N9Q9\SQL2014;Initial Catalog=major_project;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
	  
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.1" newVersion="4.0.5.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>