.body {
    background-color: #E9EDF6;
    width: 1510px;
    margin-left: -6px;
}

.main_head {
    width: 1320px;
    margin: -8px 0px 10px 190px;
    height: 55px;
    background-color: #0496C7;
}

.purpose {
    margin-left: -200px;
    background-color: #0E4D92;
    width: 230px;
    height: 55px;
}

.admin_name {
    margin-left: 1050px;
    color: white;
    margin-top: -35px;
}

.vertical_navbar {
    margin-left: -10px;
    width: 230px;
    background-color: #36454F;
    height: 550px;
    margin-top: -30px;
}

    .vertical_navbar p {
        margin-left: 45px;
        padding-top: 10px;
        font-size: 30px;
        color: white;
    }

#menu_bars {
    margin-left: 50px;
    margin-top: -27px;
    color: white;
    position: absolute;
}

.menu_list {
    margin-left: 40px;
    padding: 12px;
    font-size: 18px;
}

.icons {
    margin-top: -346px;
    font-size: 13px;
    color: white;
}

#home {
    margin-left: -170px;
    font-size: 13px;
}

#edit {
    font-size: 13px;
    margin-top: 30px;
    margin-left: -150px;
    color: white;
}

.edit1 {
    margin-top: -17px;
}

.griedview {
    margin-left: 250px;
    margin-top: -500px;
}
